In [1]:
print('add & subtract',7+3-4 ) 
print('Divide',8/3)
print('Floor or Integer division', 21//6)
print('Raise to power ',5**3)
print('Remainder, modulo operator', 10%3)

add & subtract 6
Divide 2.6666666666666665
Floor or Integer division 3
Raise to power  125
Remainder, modulo operator 1

In [2]:
# String

print('Mahesh purbia')
#print('it's raining')                           #will generate error
print("it's raining")
#print('it's raining "I am working"')            #will generate error
print('it\'s raining & "I am working"')

print('Mahesh ' * 10)
print('c:\docs\notworking')                      #will treat \n as escape sequence 'new line character'
print(r'c:\docs\not working using raw string')   #will resolve

Mahesh purbia
it's raining
it's raining & "I am working"
Mahesh Mahesh Mahesh Mahesh Mahesh Mahesh Mahesh Mahesh Mahesh Mahesh
c:\docs
otworking
c:\docs\not working using raw string

# Variables in python

In [3]:
x=10
y=5
print(x+y)
x = 51
print(x+y)
print(y+31)

15
56
36

In [4]:
y=19
x + 39

90

In [5]:
_ + y             #  '_' take previous value and perform the operation

109

In [6]:
#Strings

name = 'youtube'
print(name + 'rocks')

print(name[0])
print(name[-1])
print(name[2:6])
print(name[-1:-5:-1],'\n')             #[start : stop : step]

print('my' + name[3:])

youtuberocks
y
e
utub
ebut

mytube

# Python Data Structure

#### List [     ]

In [7]:
nums = [36,27,25,96,14,32]
names = ['mahesh', 'shubham', 'murli','Eshwar']
value = [175, 'mahesh', 77.3]

print(nums)
print(names)
print(value)

[36, 27, 25, 96, 14, 32]
['mahesh', 'shubham', 'murli', 'Eshwar']
[175, 'mahesh', 77.3]

In [8]:
mix = [names,nums]
print(mix)

[['mahesh', 'shubham', 'murli', 'Eshwar'], [36, 27, 25, 96, 14, 32]]

## List []

##### Lists are Mutable

####  Methods :- ** .append, .clear, .copy, .count, .extend, .index, .insert, .pop, .remove, .reverse, .sort**

append ----> add value at the end
insert ----> add value in between

In [9]:
nums

[36, 27, 25, 96, 14, 32]

In [10]:
nums.insert(-3,19)                  # add 19 at index value -3
nums

[36, 27, 25, 19, 96, 14, 32]

In [11]:
nums.remove(32)                   # delete number if present in the list
nums

[36, 27, 25, 19, 96, 14]

In [12]:
nums.pop(1)                       #worked as LIFO(stack), last element would be remove 1st, 1st 
nums

[36, 25, 19, 96, 14]

In [13]:
del nums[2:]                         #delete elements from array
nums

[36, 25]

In [14]:
nums.extend([15,20,25,35])                #extend scree
nums

[36, 25, 15, 20, 25, 35]

In [15]:
print(min(nums))
print(max(nums))
print(sum(nums))

15
36
156

In [16]:
nums.sort()
nums

[15, 20, 25, 25, 35, 36]

# Tuples  ()

1. Immutable 
  > some projects/program require values not to be change , hence tuple is important
  > since they are immutable hence, iteration in tuples is faster than List
  
2. Methods :- count, index

In [17]:
tup = (21,36,14,25)
tup

(21, 36, 14, 25)

In [18]:
tup[1]

36

In [19]:
#tup[1] = 33                              # **Error** 'tuple' object does not support item assignment

In [20]:
tup = (8,2,3,3,8,5,0,4,2,3)               #count no of occurrences for the given argument
tup.count(4)

1

# SET   {}

- collection of unique elements
- Set is based on the concept of hash hence the elements are not in particular sequence
- using hash improve the performance, allow to fetch element as fast as possible.
- set dont support indexing also, as their notany sequence is followed

### Methods : - 
> add, pop, remove, update, issubset, isdisjoint  etc.               -

In [21]:
s = {96,14,6,75,34,29,61}
s

{6, 14, 29, 34, 61, 75, 96}

In [22]:
s = {25,14,98,63,75,98,-5,21,6,-13.6,62,89}
s

{-13.6, -5, 6, 14, 21, 25, 62, 63, 75, 89, 98}

In [23]:
# s[2]               #Values in set cannt be indexed as not in order
                     #'set' object is not subscriptable

# Dictionary {:}

- {Key : Value pair}
 > key should be unique and they are immutable
 > value can fetch by using key in []
 
- **Methods :-**   
 > .get, fromkeys, pop, popitem, update, value, items etc.

In [24]:
data = {1: 'Eshwar',2:'Himanshu',3:'Jasvinder',4:'Mahesh',5:'manideep', 7:'shubham',8:'saurabh' }
data

{1: 'Eshwar',
 2: 'Himanshu',
 3: 'Jasvinder',
 4: 'Mahesh',
 5: 'manideep',
 7: 'shubham',
 8: 'saurabh'}

In [25]:
print(data[3])
print(data.get(7))          #using .get method

Jasvinder
shubham

In [26]:
data.get(6,'not found')          #if particular key is not there, than we can print msg as reqd, default msg is None

'not found'

In [27]:
# creating dictionary using list.

student = ['Eshwar','mahesh','manideep','shubham','jasvinder','saurabh','Himanshu']
TechLanguage = ['gurobi','python','C','Java','Html','c++','sql']

student_skill = dict(zip(student,TechLanguage)) #combine value using zip fun and than making a dictionary using dict function
student_skill

{'Eshwar': 'gurobi',
 'mahesh': 'python',
 'manideep': 'C',
 'shubham': 'Java',
 'jasvinder': 'Html',
 'saurabh': 'c++',
 'Himanshu': 'sql'}

In [28]:
student_skill['nikhil'] = 'Excel'
student_skill

{'Eshwar': 'gurobi',
 'mahesh': 'python',
 'manideep': 'C',
 'shubham': 'Java',
 'jasvinder': 'Html',
 'saurabh': 'c++',
 'Himanshu': 'sql',
 'nikhil': 'Excel'}

In [29]:
del student_skill['nikhil']
student_skill

{'Eshwar': 'gurobi',
 'mahesh': 'python',
 'manideep': 'C',
 'shubham': 'Java',
 'jasvinder': 'Html',
 'saurabh': 'c++',
 'Himanshu': 'sql'}

In [30]:
IDE = {'JS': 'Atom', 'Java':{'JSE':'Netbeans','JEE':'Eclipse'}, 'Python' : ['Pycharm','Sublime', 'Jupyter Notebook'],'c++' : 'VS' }
IDE

{'JS': 'Atom',
 'Java': {'JSE': 'Netbeans', 'JEE': 'Eclipse'},
 'Python': ['Pycharm', 'Sublime', 'Jupyter Notebook'],
 'c++': 'VS'}

In [31]:
print(IDE['Python'])
print('2nd IDE in the list indexed at 1 :',IDE['Python'][1])

['Pycharm', 'Sublime', 'Jupyter Notebook']
2nd IDE in the list indexed at 1 : Sublime

In [32]:
print(IDE['Java'])
print(IDE['Java']['JEE'])

{'JSE': 'Netbeans', 'JEE': 'Eclipse'}
Eclipse