# Variables (Advance Concept):

> - Memory consumption
> - What happen when we create multiple variables

In [1]:
num = 5              #num storing value 5 at some particular address in memory 
id(num)              #To get the variable address we use id(object)

140720506415024

In [2]:
name = 'Mahesh'
id(name)

1575390859888

### Memory efficient

- **In Python when creating multiple variables with same data than it points to same address.**

In [3]:
a = 10                             # address for both variables a & b is same
print(id(a))

b = a
print(id(b))

140720506415184
140720506415184

In [4]:
k = 10                          #In python we can tagg the value to multiple variables but it consume only single memory
print(id(k))

140720506415184

In [5]:
a = 20                          #value to variables can be reassigned and will consume different memory space
print(id(a))

b = 13
print(id(b))

k = 16
print(id(k))

140720506415504
140720506415280
140720506415376

- since all value are now tagged to different variables consuming different memory spaces
- None of the variables is pointing value - 10, hence this will be treated as **garbage collection in python**

**Garbage Collection** :- Data which is not used/tagged by any variables is k/as garbage collection

# Data Types in Python

##### **Types** : 
  - None : Variables if not assigned to any value is termed as None, in other language we assigned variable to Null
  - Numeric: int, float, complex (complex/imaginary numbers), bool
  - List: 
  - Tuple:
  - Set: 
  - String: 
  - Range:
  - Dictionary:
  
**Sequence : {List, Tuple, Set, String, Range}**

In [6]:
print(type(a))
print(type(name))

<class 'int'>
<class 'str'>

In [7]:
#Numeric Data types

num = 2.5
numb = 6
numbe = 6+9j                   #j = sqrt(-1)
print(type(num))
print(type(numb))
print(type(numbe))

<class 'float'>
<class 'int'>
<class 'complex'>

In [8]:
#Type Conversion

a = 5.6
b = int(a)
print(b)
print(type(b))

k=float(b)
print(k)
print(type(k))

k = 6
c = complex(b,k)
print(c)
print(type(c))

5
<class 'int'>
5.0
<class 'float'>
(5+6j)
<class 'complex'>

In [9]:
print(b<k)
print(b>a)

True
False

In [10]:
print(range(10))
print(list(range(10)))
print(list(range(2,10,2)))                 #{Start, end, step}

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

# Operators in Python

- Arithmetic Operators : +,-,/,*
- Assignment Operators : =    also  *=,/=,+=,-=
- Relational Operators : <, >, ==, <=, >=, !=
- Logical Operators    : AND, OR, NOT
- Unary Operators      : negation

In [11]:
a,b = 13,20
print(a)
print(b)
print(a+b)
print(b/a)

13
20
33
1.5384615384615385

In [12]:
n=7
n = -n                #unary operator
print(n)

-7

In [13]:
a = 5
b = 4
print(a<8 and b<5)
print(a>8 and b<2)

True
False

### Number system conversion in python

In [14]:
print(bin(25))             #decimal(0-9) to binary(0-1)  # 0b signifies about binary number , binary representation of  25 is 11001
print(0b0101)              # bin to decimal

print(oct(25))             #oct(0-7) 
print(hex(25))             #hex(0-9,a-f)

0b11001
5
0o31
0x19

##### Swap 2 variables in Python

In [15]:
a,b = 5,8
print(a,b)

5 8

In [16]:
a = b               #**Not work** as assigning value for e.g a = b & b = 8 will not work as it forgets the previous assignment
b = a
print(a,b)

8 8

In [17]:
a,b = 5,8


a,b = b,a         #This will swap the value as right side will solve first and store in a stack
print(a,b)        #rot_two() - swaps 2 top most stack items

8 5

In [18]:
#swapping using 3rd variable, as 
a,b = 5,8


temp = a
a = b
b = temp
print(a,b)

8 5

# Bitwise Operator

- Complement(~)
- And (&)
- Or(|)
- XOR(^)
- left shift(<<)
- right shift(>>)

Also Check truth Table for all the operation

In [19]:
~12

-13

# Concept Understanding

- complement of  1 =0 , 0 = 1
- bin(12) = 00001100, ~12 = **11110011 which is -13**

- In system we can only store +ve numbers we cannt store negative numbers to store negative numbers need to understand the concept of 2's complement

## **2's complement** = (1's complement + 1)

- bin(13) = 00001101, its 1's complement = 11110010
- 2's complement of 13 = 11110010 + 1 = **11110011 which is -13**

In [20]:
print(bin(12))
print(bin(-13))

0b1100
-0b1101

In [21]:
bin(13)

'0b1101'

In [22]:
12 & 13          #00001100 & 00001101 = 00001100

12

In [23]:
12 | 13        #00001100 | 00001101   = 00001101

13

In [24]:
12 ^ 13        #00001100 + 00001101  = 00000001

1

In [25]:
10 << 2       #(1010).(000) ---> after 2 step left shift = 10100  ; 2^5 + 2^3 = 32+8 = 40   **Gain bits**

40

In [26]:
10 >> 2       #(1010).(000) ---> after 2 step righgt shift = 10   ; 2^1 = 2     **loss bits**

2

# Import Math function in python

In [27]:
import math as m

In [28]:
x = m.sqrt(25)
y = m.sqrt(15)
print(x)
print(y)

5.0
3.872983346207417

In [29]:
print(m.floor(2.9))        #roundup to last digit value
print(m.ceil(4.1))         #roundup to highest digit value

2
5

In [30]:
print(m.pow(3,6))

729.0

In [31]:
print(m.pi)
print(m.e)

3.141592653589793
2.718281828459045

In [32]:
from math import sqrt, pow                     #importing only required function from library --> sqrt,pow

In [33]:
pow(4,5)

1024.0

In [34]:
#help('math')

# User input in python

In [35]:
x = input('Enter 1st number:')
y = input('Enter 2nd number:')
z = x+y
print(z)                           # it will treat number as str type and concatenate both input values

Enter 1st number:6
Enter 2nd number:9
69

In [36]:
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [37]:
x = int(input('Enter 1st number: '))                #type_conversion
y = int(input('Enter 2nd number: '))
z = x+y
print(z)

Enter 1st number: 15
Enter 2nd number: 16
31

In [38]:
result = eval(input('enter an expression:  '))
print(result)

enter an expression:  7+9*8+3-15
67